<!DOCTYPE html>
<html>
<head>
	<script src= "js/lib/angular.min.js"></script>
</head>
	<body>
		<!-- <div ng-app="" ng-controller="nameController">
		    <span ng-repeat="nm in names">
		      {{ nm }} <br>
		    </span>
		</div> -->
		<!--<script type="text/javascript">
			function nameController($scope){
				$scope.names = ['Amit 1','Sanjay 1','Sriram 1'];
			}

		</script>-->
		
		<div ng-app="app" ng-controller="namesController">
			<input type="text" ng-model="name">
			<ul>
			  <li ng-repeat="x in names | filter:name | orderBy:'state':true">
			    {{ x.name}} ,  {{x.state | uppercase }}
			  </li>
			</ul>

			<span ng-show="true">{{getMessage()}}</span>
			<button ng-click="getAlert()">Get Alert</button>
		</div>
		<script type="text/javascript">
			var module = angular.module("app", []);
			module.controller("namesController", function($scope){
				$scope.names = [
								{name:'Sanjay',state:'Karnataka'},
								{name:'Amit',state:'Delhi'},
								{name:'Sriram',state:'Hyderabad'}];

				$scope.getMessage = function(){
					return "Scope function";
				};

				$scope.getAlert = function(){
					alert("Alert!!!");
				}
			});
			

		</script>
	</body>
</html>